body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

.container {
    flex: 1;
    display: flex;
}

aside {
    flex: 175px;
    background-color: midnightblue;
    color: white;
    padding: 10px;
}

.content {
    flex: 9;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

h1 {
    margin-bottom: 0px;
}

footer {
    padding-top: 20px;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


